<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>用户管理</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../../layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../../css/admin.css" media="all">
</head>
<body>

<div class="layui-fluid">
  <div class="layui-card">
    <div class="layui-form layui-card-header layuiadmin-card-header-auto">
      <div class="layui-form-item">
        <div class="layui-inline">
          <label class="layui-form-label">用户名称</label>
          <div class="layui-input-block">
            <input type="text" name="userName" placeholder="请输入" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-inline">
          <label class="layui-form-label">使用状态</label>
          <div class="layui-input-block">
            <select name="userStatus">
              <option value="1">正常</option>
              <option value="0">冻结</option>
            </select>
          </div>
        </div>
        <div class="layui-inline">
          <button class="layui-btn layuiadmin-btn-useradmin" lay-submit lay-filter="LAY-user-front-search">
            <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="layui-card-body">
      <div style="padding-bottom: 10px;">
        <button class="layui-btn layuiadmin-btn-useradmin" data-type="batchdel">删除</button>
        <button class="layui-btn layuiadmin-btn-useradmin" data-type="add">添加</button>
      </div>

      <table id="LAY-user-manage" lay-filter="LAY-user-manage"></table>

      <!--状态判断-->
      <script type="text/html" id="statusTpl">
        {{#  if(d.userStatus == 1){ }}
        <button class="layui-btn layui-btn-xs">正常</button>
        {{#  } else { }}
        <button class="layui-btn layui-btn-primary layui-btn-xs">冻结</button>
        {{#  } }}
      </script>

      <script type="text/html" id="table-useradmin-webuser">
        <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="change_status" style="background-color: #17b3a3!important;"><i class="layui-icon layui-icon-addition"></i>
          {{#  if(d.userStatus == 1){ }}
          冻结
          {{#  } else { }}
          正常
          {{#  } }}
        </a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="update"><i class="layui-icon layui-icon-set"></i>修改</a>
        <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-edit"></i>删除</a>
      </script>
    </div>
  </div>
</div>

<script src="../../layui/layui.js"></script>
<script type="text/javascript">
    layui.use(['layer','table','form'], function(){
        var $ = layui.$
            ,form = layui.form
            ,table = layui.table;
        //加载table
        table.render({
            elem: '#LAY-user-manage'
            ,url:'/user/findUsers'
            ,cellMinWidth: 80 //全局定义常规单元格的最小宽度
            ,title: '用户数据表'
            ,cols: [[
                {type: 'checkbox', fixed: 'left'}
                ,{field:'id', title:'ID', align: 'center',width: 100}
                ,{field:'loginAccount', title:'用户账号', align: 'center',width: 100}
                ,{field:'userName', title:'用户名称', align: 'center',width: 100}
                ,{field:'roleName', title:'角色', align: 'center',width: 100}
                ,{field:'email', title:'邮箱', align: 'center',width: 100 ,templet: function(res){
                    return '<em>'+ res.email +'</em>'
                }}
                ,{field:'entryDate', title:'入职日期', align: 'center',width: 100}
                ,{field:'resignDate', title:'离职日期', align: 'center',width: 100}
                ,{field:'lastLoginDatetime', title:'最后登陆时间', align: 'center',width: 200}
                ,{field:'userStatus', title:'状态', templet: '#statusTpl'}
                ,{fixed: 'right', title:'操作', toolbar: '#table-useradmin-webuser',width: 350}
            ]]
            ,page: true
        });


        //监听搜索
        form.on('submit(LAY-user-front-search)', function(data){
            var field = data.field;

            //执行重载
            table.reload('LAY-user-manage', {
              url:"/user/findUsers",
              where: field
            });
        });
        //事件
        var active = {
            batchdel: function(){
                var checkStatus = table.checkStatus('LAY-user-manage')
                    ,checkData = checkStatus.data; //得到选中的数据

                if(checkData.length === 0){
                    return layer.msg('请选择数据');
                }

              layer.confirm('确定删除吗？', function(index) {
                //定义空数组
                var ids = new Array();
                $.each(checkData, function (index, item) {
                  //每循环一次，将id取出，塞给数组。
                  ids.push(item.id)
                })
                //通过Ajax访问后台实现删除功能
                $.ajax({
                  url: "/user/batchUserdel",
                  type: "post",
                  data: {ids: ids}, //直接传数组
                  traditional: true, //用传统的方式来序列化数据
                  dataType: "json",
                  success: function (res) {
                    if (res.code == 200) {
                      layer.msg(res.msg);
                      //执行重载
                      table.reload('LAY-user-manage', {
                        page: {
                          curr: 1 //重新从第 1 页开始
                        }
                        , where: {
                          key: {
                            id: new Date().getTime()
                          }
                        }
                      });
                    }
                    if (res.code == 500) {
                      layer.msg(res.msg);
                    }
                  }
                })
              })

            }
            ,add: function(){
                layer.open({
                    type: 2
                    ,title: '添加用户'
                    ,content: 'child_function/addUser.html'
                    ,maxmin: true
                    ,area: ['500px', '450px']
                    ,btn: ['确认', '取消']
                    ,yes: function(index, layero){
                    //do something
                      var iframeWindow = window['layui-layer-iframe' + index]
                          , submitID = 'LAY-user-front-submit'
                          , submit = layero.find('iframe').contents().find('#' + submitID);

                      iframeWindow.layui.form.on('submit(' + submitID + ')', function (data) {

                        $.ajax({
                          url:'/user/addUser',
                          type: 'post',
                          data: data.field,
                          dataType: 'json',
                          success: function (res) {
                            if (res.code == 200) {
                              layer.msg(res.msg);
                              //执行重载
                              table.reload('LAY-user-manage', {
                                where: {
                                  key: {
                                    id: new Date().getTime()
                                  }
                                }
                              });
                            }
                          }
                        })
                        table.reload('LAY-user-manage')
                        layer.close(index); //如果设定了yes回调，需进行手工关闭
                      })
                      submit.trigger('click');
                    }
                });
            }
        };

      //监听行工具事件
      table.on('tool(LAY-user-manage)', function (obj) {
        let data = obj.data;
        if (obj.event === 'change_status') {
          $.ajax({
            url:'/user/changeUserStatus',
            type:'post',
            data:data,
            dataType:'json',
            success: function (res) {
              if (res.code == 200) {
                layer.msg(res.msg);
                //执行重载
                table.reload('LAY-user-manage', {
                  page: {
                    curr: 1 //重新从第 1 页开始
                  }
                  , where: {
                    key: {
                      id: new Date().getTime()
                    }
                  }
                });
              }
              if (res.code == 500) {
                layer.msg(res.msg);
              }
            }
          })
        } else if(obj.event === 'update'){
          //编辑文件，进行回显
          layer.open({
            type: 2,
            title: '修改用户',
            content: 'child_function/addUser.html',
            maxmin: true,
            area: ['500px', '450px'],
            btn: ['确认', '取消'],
            success: function(layero, index){//在页面加载成功之前将数据回显
              var body = layer.getChildFrame('body', index);
              var iframeWin = layero.find('iframe')[0].contentWindow; //得到iframe页的窗口对象，执行iframe页的方法：iframeWin.method();
              body.find('input[name=id]').val(data.id);
              body.find('input[name=loginAccount]').val(data.loginAccount);
              body.find('input[name=userName]').val(data.userName);
              body.find('input[name=email]').val(data.email);
              body.find('input[name=entryDate]').val(data.entryDate);
              body.find('input[name=resignDate]').val(data.resignDate);
              $.ajax({
                url: '/user/getRoleList',
                dataType: 'json',
                type: 'get',
                async:false,
                success: function(res) {
                  body.find('select[id=roles]').empty();
                  body.find('select[id=roles]').append(new Option("请选择线路", "0"));
                  $.each(res.data, function (index, item) {
                    body.find('select[id=roles]').append(new Option(item.roleName, item.id));
                  });
                  form.render("select");
                }
              });
              body.find('select option[value=' + data.roleId + ']').attr("selected", "selected");
              iframeWin.layui.form.render("select");
              /*//重载
              iframeWin.layui.form.render("select");
              iframeWin.layui.form.render("radio");*/
            },
            yes: function(index, layero){
              //do something
              var iframeWindow = window['layui-layer-iframe' + index]
                      , submitID = 'LAY-user-front-submit'
                      , submit = layero.find('iframe').contents().find('#' + submitID);



              iframeWindow.layui.form.on('submit(' + submitID + ')', function (data){
                var field = data.field; //获取提交的字段
                //提交 Ajax 成功后，静态更新表格中的数据
                $.ajax({
                  url: "/user/updateUser",
                  type: "post",
                  data: field,
                  dataType: "json",
                  success: function (res) {
                    if (res.code == 200) {
                      layer.msg(res.msg);
                      //执行重载
                      table.reload('LAY-user-manage', {
                        where: {
                          key: {
                            id: new Date().getTime()
                          }
                        }
                      });
                    }
                  }
                });
                table.reload('LAY-user-manage')
                layer.close(index); //如果设定了yes回调，需进行手工关闭
              });

              submit.trigger('click');
            }
          })
        } else if(obj.event === 'del'){
          layer.confirm('确定删除吗？',function (index) {
            $.ajax({
              url:'/user/delUser',
              type:'post',
              data:data,
              dataType:'json',
              success: function (res) {
                if (res.code == 200) {
                  layer.msg(res.msg);
                  //执行重载
                  table.reload('LAY-user-manage', {
                    page: {
                      curr: 1 //重新从第 1 页开始
                    }
                    , where: {
                      key: {
                        id: new Date().getTime()
                      }
                    }
                  });
                }
                if (res.code == 500) {
                  layer.msg(res.msg);
                }
              }
            })
          })
        }
      })

        $('.layui-btn.layuiadmin-btn-useradmin').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

    });
</script>

</body>
</html>
