<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>新增线路</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../../layui/css/layui.css" media="all">
    <style type="text/css">

    </style>
</head>
<body>

<div class="layui-form" lay-filter="layuiadmin-form-useradmin" id="layuiadmin-form-useradmin" style="padding: 20px 0 0 0; margin-top: 30px">
    <div class="layui-form-item" style="margin-left: 100px;">
        <label class="layui-form-label">线路编号：</label>
        <div class="layui-input-inline " style="width: 300px;margin-right: 100px">
            <input type="text" name="login_account" lay-verify="required"  placeholder="请输入线路编号" autocomplete="off" class="layui-input">
        </div>

        <label class="layui-form-label">线路名称：</label>
        <div class="layui-input-inline" style="width: 300px;margin-right: 100px">
            <input type="text" name="user_name" lay-verify="required" placeholder="请输入线路名称" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item" style="margin-left: 100px;">
    <label class="layui-form-label">线路长度：</label>
    <div class="layui-input-inline" style="width: 300px;margin-right: 100px">
        <input type="text" name="user_name" lay-verify="required" placeholder="请输入线路长度" autocomplete="off" class="layui-input">
    </div>

    <label class="layui-form-label">回路长度：</label>
    <div class="layui-input-inline" style="width: 300px;margin-right: 100px">
        <input type="text" name="user_name" lay-verify="required" placeholder="请输入回路长度" autocomplete="off" class="layui-input">
    </div>
</div>

    <div class="layui-form-item" style="margin-left: 100px;margin-top: 35px">
        <label class="layui-form-label">投运日期：</label>
        <div class="layui-input-inline" style="width: 300px;margin-right: 100px">
            <input type="text" name="entry_date" class="layui-input" id="entry_date" placeholder="yyyy-MM-dd">
        </div>

        <label class="layui-form-label">电压等级：</label>
        <div class="layui-input-inline" style="width: 300px;margin-right: 100px">
            <input type="text" name="user_name" lay-verify="required" placeholder="请输入电压等级" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item" style="margin-left: 100px;margin-top: 35px">
        <label class="layui-form-label">起始杆号：</label>
        <div class="layui-input-inline" style="width: 300px;margin-right: 100px">
            <select name="role_id">
                <option value="1">XW0001</option>
                <option value="2">XW0002</option>
                <option value="3">XW0003</option>
                <option value="4">XW0004</option>
                <option value="4">XW0005</option>
            </select>
        </div>

        <label class="layui-form-label">终止杆号：</label>
        <div class="layui-input-inline" style="width: 300px;margin-right: 100px">
            <select name="role_id">
                <option value="1">XW0001</option>
                <option value="2">XW0002</option>
                <option value="3">XW0003</option>
                <option value="4">XW0004</option>
                <option value="4">XW0005</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item" style="margin-left: 100px;margin-top: 35px">
        <label class="layui-form-label">塔基数：</label>
        <div class="layui-input-inline" style="width: 300px;margin-right: 100px">
            <input type="text" name="user_name" lay-verify="required" placeholder="请输入塔基数" autocomplete="off" class="layui-input">
        </div>

        <label class="layui-form-label">备注：</label>
        <div class="layui-input-inline">
            <textarea name="desc"style="min-height: 100px;width: 300px" placeholder="请输入内容" class="layui-textarea"></textarea>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">是否启用：</label>
            <div class="layui-input-block">
                <input type="radio" name="sex" value="启用" title="启用" checked>
                <input type="radio" name="sex" value="停用" title="停用" >
            </div>
        </div>
    </div>

<!--    <div class="layui-form-item" style="text-align: center">-->
<!--        <input type="button" lay-submit lay-filter="LAY-user-front-submit" class="layui-btn layui-btn-normal" style="margin-right: 35px ;background-color: #009688" value="确认">-->
<!--        <input type="button" lay-submit lay-filter="LAY-user-front-submit" class="layui-btn layui-btn-normal" style="margin-right: 35px ;background-color: #009688" value="取消">-->
<!--    </div>-->


</div>

<!--作为单独引入，注意放置在引入layui.js之前-->
<script src="../../../layui/laydate/laydate.js"></script>
<script type="text/javascript">
    //入职日期
    laydate.render({
        elem: '#entry_date'
    });
    //离职日期
    laydate.render({
        elem: '#resign_date'
    });
</script>

<script src="../../../layui/layui.js"></script>
<script>
    layui.use(['form'], function () {
        var form = layui.form;

        form.on('submit(LAY-user-front-submit)',function (data) {
            //发起ajax请求
            layer.msg(JSON.stringify(data.field))
        })
    })
</script>
</body>
</html>
